body{
    text-align: center;
    align-items: center;
    background: linear-gradient(180deg, #5765f1, #2F3187);
    background-size: 150% 150%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
button{
    background: rgba(49,51,56,255);
    transition: 500ms;
    border: none;
    border-radius: 20px;
    color: white;
}
button:hover{
    border-radius: 40px;
    background-color: rgba(88,101,242,255);
    color: white;
}
textarea{
    background-color: rgba(56,58,64,255);
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.dcini{
    background-color: rgba(49,51,56,255);
    border: none;
    border-radius: 20px;
    transition: 500ms;
    width: 60px;
}
.dcini:hover{
    border-radius: 40px;
    background-color: rgba(88,101,242,255);
}
.ads{
    margin-top: 90px;
}
